<div class="list-view"
  ng-class="{'mobile-hide': chatView}"
  ng-controller="ConversationsCtrl">

  <div class="nav-panel">
    <%= link_to(
      current_user.name,
      "/members/#{current_user.id}/edit",
      target: "_self",
      class: "nav-btn")
    %>
    /
    <% if current_user.admin? %>
      <%= link_to "Members", members_path, class: "nav-btn" %>
      /
      <a href="/settings" target="_self" class="nav-btn">Settings</a>
      /
    <% end %>
    <%= link_to "Logout", destroy_user_session_path, class: "logout", target: "_self", method: :delete %>
  </div>

  <div class="filters-panel">
    <select ng-model="filterOption" ng-change="applyFilter()">
      <option value="all">-- All --</option>
      <option value="unassigned">-- Unassigned --</option>
      <% User.support_team.each do |user| %>
        <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select>
  </div>

  <div class="conversations">
    <div class="conversation"
      ng-repeat="conversation in conversations"
      ng-click="openChat(conversation.id)">
      <div class="name">{{conversation.user.name || "Guest"}}</div>
      <div class="time">{{ conversation.updated_at|readableTime }}</div>
    </div>
  </div>
</div>

<div class="chat" ng-class="{'mobile-hide': conversationsView}" ng-view></div>
