<h2 class="title">Members</h2>

<div class="members">
  <% @users.each do |user| %>
    <div class="member <%= cycle('odd', 'even') %>">
      <div class="meta">
        <span class="name"><%= user.name %></span>
      </div>
      <div class="field"><%= user.email %></div>
      <div class="field">created <%= time_ago_in_words(user.created_at) %> ago</div>
      <div class="actions">
        <%= link_to "Edit", edit_member_path(user), class: "edit" %>
        <% if user.id != current_user.id %>
          <%= link_to "Remove", edit_member_path(user), class: "remove" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
